# Coverage directory used by tools like istanbul
coverage

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test
.env.production

#ignore assets
assets/

# packages
package-lock.json
./app/package-lock.json

# old repo
app/routes/
app/services/
app/utils/