DB_HOST=localhost
DB_USER=postgres
DB_NAME=community-platform
DB_PASSWORD=
EMAIL=jbearxtendee@gmail.com
EMAIL_PASSWORD=Kmzway86aa!
SECRET_KEY=inirahasia
TOKEN_AGE=2073600000

PORT=5000
GOOGLE_CLIENT_ID=488082588111-2r601e8597nind2ao8b1sltukcsft2g1.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
CLIENT_ROOT_URL=http://localhost:3000
LOCALHOST_URL=http://localhost:5000
SERVER_URL = http://localhost:5000
GCS_URL = https://storage.cloud.google.com
BUCKET_NAME = sagara-project-staging